<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Browse</title>
</head>
<body>
<header th:insert="/ui/fragments/header.html"></header>
<div>
    <div th:each="recipeEntry : ${recipeList}">
        <a th:href="'/beta/show/recipe/'+${recipeEntry.getId()}" th:text="${recipeEntry.getName()}"></a>
    </div>
    <div>
        <a th:if="${previousPage!=null}" th:href="'/beta/browse/'+${previousPage}" th:text="${previousPage}"></a>
        <p th:text="${pageNumber.toString()}"></p>
        <a th:if="${nextPage!=null}" th:href="'/beta/browse/'+${nextPage}" th:text="${nextPage}"></a>
        <p th:text="${numberOfPages.toString()}+' of Pages to browse'"></p>
    </div>
</div>
</body>
</html>