<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
<header th:insert="/ui/fragments/header.html"></header>
<div><p>Search recipes</p></div>
<p>Search by Recipe name:</p>
<form action="# th:action=@/{/search}" th:object="${searchEntity}" method="post">
    <input type="text" th:field="*{searchByRecipeName}">
    <label>Search by Recipe Name</label>
    <input type="text" th:field="*{searchByIngredient}">
    <label>Search By ingredient</label>
    <button type="submit">Submit</button>

</form>

</body>
</html>